.text-field {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.button-guy {
    /* margin-left:90%;  */
    margin-top:5rem;
}

.first-check {
    margin-right:0.5rem;
}

.onwards-check {
    margin-left:0.2rem; 
    margin-right:0.5rem;
}

.final-text {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3.5rem;
    margin-bottom: 2rem;
}

